@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
  display: static;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
